.App {
  text-align: center;
  justify-content: center;
  display: block;
  border: solid rgb(44, 44, 44) 4px;
  background: linear-gradient(20deg, rebeccapurple, transparent), url(https://grainy-gradients.vercel.app/noise.svg); 
    
}


  
  


