.footer {
    width: inherit;
    height: 300px;
    background: #B8D261;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Konstant Grotesk', sans-serif;
    padding: 30px 8%;
    margin-top: 0;
}

.social {
    
    color: rgb(43, 43, 43);
    margin-top: 290px;
    font-size: larger;

}

.social:hover {
    
    color: rgb(234, 64, 191);
    margin-top: 20px;
    font-size: larger;

}

p {
    margin-top: 20px;
    color: rgb(43, 43, 43);
}

.footerimg {
    margin-bottom: -300px;
    width: 100%;
}