.navbar {
    height: 80px;
    font-family: 'Bagel Fat One', cursive;
    font-size: 22px;
    text-decoration: double;
    
    
}
.links {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}