.cartheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Konstant Grotesk', sans-serif;                                           
    font-size: 18px;
    margin-top: -300px;
    color:rgba(23, 23, 23, 0.867);
    text-align: left;
    
    
}

.cart {

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
  
.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 30px;
    margin-top: 0;
}
  
.cartItem img {
    width: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
  
.cartItem .description {
    width: 100%;
    font-size: 30px; 
    font-family: 'Konstant Grotesk', sans-serif;                                           
    font-size: 24px;   
}
  
.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;

}

.minusplus {
    
    background-color: rgba(19, 19, 19, 0.16);
    color: white;
    border: none;
    border-radius: 2px;
    height: 20px;
}

.minusplus:hover {
    background-color: rgb(253, 216, 70);
    color: white;
    border: none;
    border-radius: 2px;
    height: 20px;
    
}
  
.menge {
   height: 15px;
   border-radius: 2px;
   margin-left: 3px;
   margin-right: 3px;


}


.checkout button {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.4em 0.7em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}


.buttons:not(<p>) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    padding: 10px 20%;
    margin-top: 0;
    
}

.checkoutbutton:hover {
    text-decoration: none;
    background-color: rgb(253, 216, 70);
    border-color:rgb(253, 216, 70);
    color: #2e2e2e;
}

.subtotal {
    font-size: 1.3rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;                              
    font-size: 22px; 
    color: green;  
}

.promocodebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 120px;
    border: #2e2e2e solid 2px;
    height: 20px;
}

.code {
   display: grid;
   grid-template-rows: 1fr;  
   justify-content: center;
   font-family: 'Inconsolata', monospace;                                      
    font-size: 18px;   
    margin-bottom: 10px;
}



.button {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.4em 0.7em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}
  
.button:hover {
  
  
}
  
.button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}
  
.button:not([disabled]):active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}



.sadface {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.emptytext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Inconsolata', monospace;                                     
    font-size: 26px;
    margin-bottom: 20px;
}

.buttons .discount  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Inconsolata', monospace;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color: green;
}



.applybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
}

.payorshop {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 25px;
    column-gap: 25px;
    padding: 30px 35%;
}

b {
    font-weight: 200;
}

b, p, a, h1 {
    letter-spacing: 1px;
}