.shop {
    background: rgb(224,238,174);
    background: linear-gradient(0deg, rgba(224,238,174,1) 2%, rgba(255,255,255,1) 100%);
}


.head {
    font-family: 'Bagel Fat One', cursive;
    color: rgb(177, 130, 182);
    background: transparent;
    font-size: 150px;
    font-weight: 200;
}

.head:hover {
    cursor: url('./magicalwand.png'), auto;
    
}

.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
  
.product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 4px;
}


.product img {
    width: 300px;
    background: transparent
}
  
.product .description .name {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 100;
    color: rgb(65, 65, 65);
    
}

.product .description .price {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    color: rgb(64, 64, 64);
    margin-top: 0;
}
  
.product img:hover {
    transition: 0.3s ease-in;
    cursor: url('./magicalwand.png'), auto;
    transform: scale(1.08);
}
  
.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
  
.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: auto;
}

