
h2 {
  font-family: 'Bagel Fat One', cursive;
  font-size: 200px;
  text-shadow: -10px -10px #2e2e2e;
  color: #ffffff;
  margin-top: -30px;
  
}


h2:hover {
  transition: 0.3s ease-in;
  transform: scale(1.05);
  cursor: grabbing;

}


.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#212121 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
}



.button-50:hover {
  text-decoration: none;
  background-color: rgb(253, 128, 70);
  border-color: rgb(253, 128, 70);
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 600px) {
  .button-50 {
    padding: 6px 22px;
    margin-bottom: 50px;
    
  }
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  
}

div img {
  width: 250px;
}

div img:hover {
  transition: 0.3s ease-in;
  transform: scale(1.05);
  cursor: grabbing;
}




